* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.logo {
  height: 300px;
  width: 300px;
  background: rgb(0, 140, 255);
  border-radius: 100%;
  overflow: hidden;
}
.logo h1 {
  font-size: 21rem;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
